#game-page .container {
    display: flex;
    justify-content: space-around;
    margin-right: 0;
}

#game-container {
    margin: 50px 0 50px 100px;
    height: 600px;
    width: 700px;
}

#text-container {
    margin: auto;
    padding: 0 100px;
}

#timer {
    margin: auto;
}

#game-page ul {
    list-style: none;
    margin: 30px;
}

#game-page ul i {
    font-size: 14px;
}

#game-page ul i {
    font-size: 12px;
    margin: 20px;
}

.ready-status-red {
    color: red;
}

.ready-status-green {
    color: green;
}

#ready-btn {
    margin: auto;
    padding: 40px;
    font-size: 30px;
}

.time-left-label {
    position: absolute;
    top: 10px;
    right: 10px;
}

.selected-text {
    display: inline;
    background-color: #bfe5c7;
}


.left-text:first-letter {
    text-decoration: underline;
    background-color: orange;
}

.selected-letter {
    background-color: orange;
}

.message-container {
    width: 400px;
    padding: 10px;
    /*justify-self: right;*/
}

.message:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f8e896;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0;
    right: -15px;
}

.message:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 17px solid #dfd087;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    bottom: -1px;
    right: -17px;
}

.message {
    position: absolute;
    margin-bottom: 10px;
    top: 30px;
    right: 20px;
    /*margin-left: calc(100% - 240px);*/
    padding: 10px;
    background-color: #f8e896;
    width: 270px;
    /*height: 50px;*/
    text-align: left;
    /*font: 400 .9em 'Open Sans', sans-serif;*/
    font-size: 17px;
    font-weight: 500;
    border: 1px solid #dfd087;
    border-radius: 10px;
    /*flex-wrap: nowrap;*/
}